.pomodoro-display {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 2%;
  color: #eebe97;
  font-family: 'Source Sans Pro', sans-serif;
}

.pomodoro-display h2{
  font-size: calc(20px + 1vw);
}

.timer-display {
  margin-top: 1%;
}

.ui.tiny.statistic > .value {
  color: #eebe97;
  font-size:  calc(70px + 5vw) !important;
}

.ui.tiny.statistic > .label {
  color: #eebe97;
  font-size: calc(30px + 1vw);
}