.pomodoro-instructions {
  margin-top: 5%;
  text-align: center;
  margin-right: 5%;
}

.pomodoro-instructions li {
  color: #eebe97;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(15px + 0.5vw);
  list-style-type: none;
}