.pomodoro-instructions {
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.pomodoro-instructions p {
  color: #eebe97;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(15px + 0.5vw);
  list-style-type: none;
  margin: 0;
}