.pomodoro-app {
  background-color: #c55e5e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pomodoro-menu h1,
.ui.button {
  font-family: 'Source Sans Pro', sans-serif;
}

.pomodoro-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1%;
}

.pomodoro-menu h1 {
  color: #eebe97;
  font-weight: light;
  font-style: italic;
  font-size: 50px;
}

.pomodoro-menu-buttons .ui.button {
  margin: 10px;
  font-size: calc(12px + 1vw);
}

.pomodoro-menu-buttons .ui.button {
  background-color: #eebe97;
  color: #c55e5e;
}
