.pomodoro-app {
  background-color: #C55E5E;
  min-height: 100vh;
}

.pomodoro-menu h1, .ui.button {
  font-family: 'Source Sans Pro', sans-serif;
}

.pomodoro-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1%;
}

.pomodoro-menu h1 {
  color: #EEBE97;
  font-weight: light;
  font-style: italic;
}

.pomodoro-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.pomodoro-display img {
  width: 15%;
  height: 5%;
}

.pomodoro-menu h1 {
  font-size: 5vw;
}

.pomodoro-menu-buttons .ui.button {
  margin: 10px;
  font-size: calc(12px + 1vw);
}

.timer-display {
  margin-top: 2%;
  color: #EEBE97;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
}

.pomodoro-buttons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.pomodoro-instructions {
  margin-top: 3%;
  justify-content: center;
  text-align: center;
}

.pomodoro-instructions ol {
  padding: 0;
  color: #EEBE97;
}

.ui.input-modal > .header,
.ui.input-modal > .content,
.ui.input-modal > .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro-menu-buttons .ui.button {
  background-color: #EEBE97;
  color: #C55E5E;
}